* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.left-sidebar {
  width: 16.6%;
  margin-right: 22px;
}

.right-sidebar {
  width: 84.4%;
}

.carousel-index {
  display: flex;
}

.card-box {
  padding: 80px 386px;
}

.item {
  border: 2px solid #ccc;
  margin: 0.5rem;
  border-radius: 3px;
  cursor: pointer;
}

.item.active {
  border: 2px solid #343434;
}

.img-index.active {
  border: 2px solid #343434;
}

.item img {
  width: 90px;
  height: 90px;
}

.carousel {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}

.slides-container {
  display: flex;
  width: 579px;
  height: 579px;
}

.slide img {
  width: 579px;
  height: 579px;
}

#nextBtn,
#prevBtn {
  position: absolute;
  top: 50%;
  padding: 0.5rem;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 1;
}

#nextBtn {
  right: 0;
}

.slides-container a {
  display: inline-block;
  text-decoration: none;
  padding: 15px;
  background-color: #fff;
  border-radius: 3px;
  text-transform: uppercase;
  color: #585858;
  font-family: "Roboto", sans-serif;
}

.modal-main {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 11111111111;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(77, 77, 77, 0.7);
  transition: all 0.4s;
}

.modal-main:target {
  visibility: visible;
  opacity: 1;
}

.modal__content {
  border-radius: 4px;
  position: relative;
  width: 86%;
  background: #fff;
  padding: 1em 2em;
  height: 679px;
  overflow: hidden;
  border-radius: 17px;
}
.modal__content .slick-prev {
  left: -36px;
}
.modal__content .slick-prev::before {
  color: black;
  font-size: 30px;
}
.modal__content .slick-next::before {
  font-size: 30px;
  color: black;
}
.modal__content .main-image img {
  width: 588px !important;
  height: 450px;
}

.img-index {
  width: 22%;
  display: inline-block;
  margin-left: auto;
}
.img-index img {
  width: 152px;
  max-width: 100%;
}

.main-image {
  display: flex;
  justify-content: center;
  padding-top: 64px;
}

.bottom-image {
  display: flex;
  padding-top: 67px;
}

.modal__footer {
  text-align: right;
}
.modal__footer a {
  color: #585858;
}
.modal__footer i {
  color: #d02d2c;
}

.modal__close {
  position: absolute;
  top: 19px;
  right: 44px;
  color: black;
  font-size: 30px;
  text-decoration: none;
}

.modal-container {
  display: flex;
  width: 36%;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

.main {
  width: 588px;
  display: block;
  margin: 0 auto;
}

#modal .content__main {
  width: 100%;
}
#modal .content__main img {
  width: 100%;
  height: 500px;
}
#modal #page {
  padding-top: 30px;
}
#modal .slider-nav img {
  width: 100%;
}
#modal .slick-list {
  height: auto !important;
}
#modal .js .slider-single > div:nth-child(1n+2) {
  display: none;
}
#modal .js .slider-single.slick-initialized > div:nth-child(1n+2) {
  display: block;
}
#modal .main-slider {
  background: #f0f0f0;
  color: #3498db;
  font-size: 2.25rem;
  margin: 0.5rem;
  padding: 2%;
  position: relative;
  text-align: center;
}
#modal .slider-single .main-slider {
  line-height: 10rem;
}
#modal .slider-nav .slick-slide {
  cursor: pointer;
}
#modal .slick-slide.is-active .main-slider {
  color: #c00;
  background-color: black;
}

.slick-slider,
.slick-track {
  margin-left: auto !important;
  margin-right: auto !important;
}/*# sourceMappingURL=style.css.map */